{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Design"
  },
  "host": "alpha.askia.com",
  "basePath": "/AskiaPortal/Modules/design",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/Controls": {
      "get": {
        "tags": [
          "Controls"
        ],
        "summary": "Get the list of controls available by the current user.\r\n            \r\nGET: api/Controls",
        "operationId": "Controls_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ControlDto"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Elements": {
      "get": {
        "tags": [
          "Elements"
        ],
        "summary": "Gets the elements in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Elements",
        "operationId": "Elements_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the elements belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ElementDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Elements/{elementId}": {
      "get": {
        "tags": [
          "Elements"
        ],
        "summary": "Gets an element in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Elements/{elementId}",
        "operationId": "Elements_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the element belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "elementId",
            "in": "path",
            "description": "ID of the element.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Elements"
        ],
        "summary": "Updates a element from a given survey by specifying by its unique \r\nidentfier and with the specified input values.\r\n            \r\nPUT: api/Surveys/5/Elements/2",
        "operationId": "Elements_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the element belongs.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "elementId",
            "in": "path",
            "description": "The unique identifier of the element to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "elementInput",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElementDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Elements"
        ],
        "summary": "Delete an element from a given survey by specifying by its unique \r\nidentfier.\r\n            \r\nDELETE: api/Surveys/5/Elements/2",
        "operationId": "Elements_Delete",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the element belongs.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "elementId",
            "in": "path",
            "description": "The unique identifier of the element to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Elements/ContainsQuestion/{questionId}": {
      "get": {
        "tags": [
          "Elements"
        ],
        "summary": "Gets the elements associated with a question.\r\n            \r\nGET: api/Surveys/{surveyId}/Elements/ContainsQuestion/{questionId}",
        "operationId": "Elements_GetByQuestionId",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the elements belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the elements are associated with.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ElementDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Elements/New": {
      "post": {
        "tags": [
          "Elements"
        ],
        "summary": "Creates a new element in a given survey.\r\n            \r\nPOST: api/Surveys/{surveyId}/elements/New",
        "operationId": "Elements_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the element is being created.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "elementDto",
            "in": "body",
            "description": "DTO of the new element to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElementDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Elements/Move": {
      "put": {
        "tags": [
          "Elements"
        ],
        "summary": "Moves an element in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Elements/Move",
        "operationId": "Elements_PutMove",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "elementMoveDto",
            "in": "body",
            "description": "ID of the element to move.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElementMoveDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ElementDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Languages": {
      "get": {
        "tags": [
          "Languages"
        ],
        "summary": "Gets the known languages.\r\n            \r\nGET: api/Languages",
        "operationId": "Languages_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LanguageDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Languages/{languageId}": {
      "get": {
        "tags": [
          "Languages"
        ],
        "summary": "Gets a known language.\r\n            \r\nGET: api/Languages/{languageId}",
        "operationId": "Languages_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "languageId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LanguageDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/PageTemplates": {
      "get": {
        "tags": [
          "PageTemplates"
        ],
        "summary": "Get the list of page templates available by the current user.\r\n            \r\nGET: api/PageTemplates",
        "operationId": "PageTemplates_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PageTemplateDto"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Preferences": {
      "get": {
        "tags": [
          "Preferences"
        ],
        "summary": "Gets the settings of the current user.\r\n            \r\nGET: api/Preferences",
        "operationId": "Preferences_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PreferencesDto"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Preferences"
        ],
        "summary": "Updates the settings of the current user.\r\n            \r\nPUT: api/Preferences",
        "operationId": "Preferences_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreferencesDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PreferencesDto"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Preview": {
      "get": {
        "tags": [
          "Preview"
        ],
        "operationId": "Preview_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "surveyContract",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Stream"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Preview/Survey/{surveyId}/Question/{questionId}": {
      "get": {
        "tags": [
          "Preview"
        ],
        "summary": "Gets HTML preview for the page containing a specified question.\r\n            \r\nGET: api/Preview?surveyId=1questionId=99",
        "operationId": "Preview_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Stream"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/surveys/{surveyId}/Publish": {
      "post": {
        "tags": [
          "Publish"
        ],
        "summary": "Publishes a survey to the first CcaWebApi server (ordered by Id) associated with the user.\r\n            \r\nPOST: api/survey/{surveyId}/Publish",
        "operationId": "Publish_PublishSurveySimple",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SurveyTaskDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Publish": {
      "post": {
        "tags": [
          "Publish"
        ],
        "operationId": "Publish_CreateSurveyTaskDto",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyTask",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SurveyTask"
            }
          },
          {
            "name": "serverId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IReturnValue[SurveyTaskDto]"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Gets the questions in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Questions",
        "operationId": "Questions_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the questions belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{questionId}": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Gets a question in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Questions/{questionId}",
        "operationId": "Questions_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question to return.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Questions"
        ],
        "summary": "Updates a question in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/{questionId}",
        "operationId": "Questions_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionDto",
            "in": "body",
            "description": "DTO of the question to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Questions"
        ],
        "summary": "Deletes a question sub-tree in the survey, including all of its descendants.\r\n            \r\nDELETE: api/Surveys/{surveyId}/Questions/{questionId}",
        "operationId": "Questions_Delete",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/New": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Creates a single question in the survey.\r\n            \r\nPOST: api/Surveys/{surveyId}/Questions/New",
        "operationId": "Questions_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question will be created in.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionDto",
            "in": "body",
            "description": "DTO of the question to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/QuestionDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/Move": {
      "put": {
        "tags": [
          "Questions"
        ],
        "summary": "Moves a set of questions in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/Move",
        "operationId": "Questions_PutMove",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionsMoveDto",
            "in": "body",
            "description": "IDs of the questions to move.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionsMoveDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/Indent": {
      "put": {
        "tags": [
          "Questions"
        ],
        "summary": "Indents a set of questions in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/Indent",
        "operationId": "Questions_PutIndent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the questions belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionIds",
            "in": "body",
            "description": "IDs of the responses to indent.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/Unindent": {
      "put": {
        "tags": [
          "Questions"
        ],
        "summary": "Unindents a set of questions in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/Unindent",
        "operationId": "Questions_PutUnindent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the questions belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionIds",
            "in": "body",
            "description": "IDs of the questions to unindent.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/Split": {
      "put": {
        "tags": [
          "Questions"
        ],
        "summary": "Splits the question pages for a set of questions in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/Split",
        "operationId": "Questions_PutSplit",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionIds",
            "in": "body",
            "description": "IDs of the question to split.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/Merge": {
      "put": {
        "tags": [
          "Questions"
        ],
        "summary": "Merges the question pages for a set of questions in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/Merge",
        "operationId": "Questions_PutMerge",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionIds",
            "in": "body",
            "description": "IDs of the question to merge.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/QuestionTemplates/New": {
      "post": {
        "tags": [
          "QuestionTemplates"
        ],
        "summary": "Creates a new question template with the specified additional values.\r\n            \r\nPOST: api/QuestionTemplates/New",
        "operationId": "QuestionTemplates_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyInput",
            "in": "body",
            "description": "The additional values to add to the new question template to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionTemplateInputDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionTemplateOutputDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/QuestionTemplates": {
      "get": {
        "tags": [
          "QuestionTemplates"
        ],
        "summary": "Gets the list of question template available for the current user.\r\n            \r\nGET: api/QuestionTemplates",
        "operationId": "QuestionTemplates_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SurveyInformationOutputDto"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/QuestionTemplates/{id}": {
      "get": {
        "tags": [
          "QuestionTemplates"
        ],
        "summary": "Gets the question template with the specified identifier.\r\n            \r\nGET: api/QuestionTemplates/5",
        "operationId": "QuestionTemplates_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the question template to get.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionTemplateOutputDto"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "QuestionTemplates"
        ],
        "summary": "Updates a question template specified by its unique identfier and with \r\nthe specified input values.\r\n            \r\nPUT: api/QuestionTemplates/5",
        "operationId": "QuestionTemplates_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the question template to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "surveyInput",
            "in": "body",
            "description": "The input values to set for the new question template to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionTemplateInputDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionTemplateOutputDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "QuestionTemplates"
        ],
        "summary": "Delete a question template specified by its unique identfier .\r\n            \r\nDELETE: api/QuestionTemplates/5",
        "operationId": "QuestionTemplates_Delete",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Resources": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get the list of resources in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Resources",
        "operationId": "Resources_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the resources belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResourceDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Resources/{resourceId}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a resource in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Resources/{resourceId}",
        "operationId": "Resources_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the resource belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID of the resource.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Updates a resource in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Resources/{resourceId}",
        "operationId": "Resources_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the resource belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID of the resource to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resourceDto",
            "in": "body",
            "description": "DTO of the resource to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Deletes a resource in the survey.\r\n            \r\nDELETE: api/Surveys/{surveyId}/Resources/{resourceId}",
        "operationId": "Resources_Delete",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the resource belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID of the resource.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Resources/Upload": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Creates resources in the survey, one for each file uploaded in the request.\r\n            \r\nPOST: api/Surveys/{surveyId}/Resources",
        "operationId": "Resources_PostBatch",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the resources will be created in.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResourceDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{targetQuestionId}/ResponseLinks": {
      "get": {
        "tags": [
          "ResponseLinks"
        ],
        "summary": "Gets all the response link of a specified question from a given survey\r\nwith the specified identifiers.\r\n            \r\nGET: api/Surveys/{surveyId}/Questions/1/ResponseLinks?SourceQuestionId=2",
        "operationId": "ResponseLinks_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the questions belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "targetQuestionId",
            "in": "path",
            "description": "The unique identifier of the question to which the response links belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sourceQuestionId",
            "in": "query",
            "description": "The unique identifier of the question which targets\r\nthe `targetQuestionId` as link.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseLinkOutputDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ResponseLinks"
        ],
        "summary": "Updates a list of response link of a specified question from a given\r\nsurvey with the specified identidiers and input values.\r\n            \r\nPUT: api/Surveys/5/Questions/1/ResponseLinks?SourceQuestionId=2",
        "operationId": "ResponseLinks_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the question belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "targetQuestionId",
            "in": "path",
            "description": "The unique identifier of the question to which the response link belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sourceQuestionId",
            "in": "query",
            "description": "The unique identifier of the question which targets\r\nthe `targetQuestionId` as link.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseLinkInputs",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseLinkInptuDto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseLinkOutputDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{targetQuestionId}/ResponseLinks/{responseLinkId}": {
      "get": {
        "tags": [
          "ResponseLinks"
        ],
        "summary": "Gets the response link of a specified question from a guven survey\r\nwith the specified identifiers.\r\n            \r\nGET: api/Surveys/5/Questions/1/ResponseLinks/4?SourceQuestionId=2",
        "operationId": "ResponseLinks_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the question belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "targetQuestionId",
            "in": "path",
            "description": "The unique identifier of the question to which the response link belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseLinkId",
            "in": "path",
            "description": "The unique identifier of the response link to read.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sourceQuestionId",
            "in": "query",
            "description": "The unique identifier of the question which targets\r\nthe `targetQuestionId` as link.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseLinkOutputDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ResponseLinks"
        ],
        "summary": "Updates a response link of a specified question from a given survey\r\nwith the specified identidiers and input values.\r\n            \r\nPUT: api/Surveys/5/Questions/1/ResponseLinks/4?SourceQuestionId=2",
        "operationId": "ResponseLinks_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the question belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "targetQuestionId",
            "in": "path",
            "description": "The unique identifier of the question to which the response link belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseLinkId",
            "in": "path",
            "description": "The unique identifier of the response link to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sourceQuestionId",
            "in": "query",
            "description": "The unique identifier of the question which targets\r\nthe `targetQuestionId` as link.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseLinkInput",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResponseLinkInptuDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseLinkOutputDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{questionId}/Responses": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Gets the responses in the question.\r\n            \r\nGET: api/Surveys/{surveyId}/Questions/{questionId}/Responses",
        "operationId": "Responses_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the question belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the responses belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Responses"
        ],
        "summary": "Updates multiple responses in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/{questionId}/Responses",
        "operationId": "Responses_PutBatch",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the response will be updated in.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the responses belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseDtos",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseDto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "Creates multiple responses in the survey question.\r\n            \r\nPOST: api/Surveys/{surveyId}/Questions/{questionId}/Responses",
        "operationId": "Responses_PostBatch",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the response will be created in.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the response will be created in.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseDtos",
            "in": "body",
            "description": "DTOs of the responses to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseDto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Responses"
        ],
        "summary": "Deletes a set of responses in the survey.\r\n            \r\nDELETE: api/Surveys/{surveyId}/Questions/{questionId}/Responses",
        "operationId": "Responses_DeleteBatch",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the responses belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the responses belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{questionId}/Responses/{responseId}": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Gets a response in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Questions/{questionId}/Responses/{responseId}",
        "operationId": "Responses_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the response belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the response belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Responses"
        ],
        "summary": "Updates a response in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/{questionId}/Responses/{responseId}",
        "operationId": "Responses_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the response will be updated in.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the responses belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseDto",
            "in": "body",
            "description": "DTO of the response to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResponseDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResponseDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Responses"
        ],
        "summary": "Deletes a response in the survey.\r\n            \r\nDELETE: api/Surveys/{surveyId}/Questions/{questionId}/Responses/{responseId}",
        "operationId": "Responses_Delete",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the response belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the response belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseId",
            "in": "path",
            "description": "ID of the response to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{questionId}/Responses/New": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "Creates a single response in the survey question.\r\n            \r\nPOST: api/Surveys/{surveyId}/Questions/{questionId}/Responses/New",
        "operationId": "Responses_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the response will be created in.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the response will be created in.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseDto",
            "in": "body",
            "description": "DTO of the response to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResponseDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResponseDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{questionId}/Responses/Move": {
      "put": {
        "tags": [
          "Responses"
        ],
        "summary": "Moves a responses in the question.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/{questionId}/Responses/Move",
        "operationId": "Responses_PutMove",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the responses belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the responses belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responsesMoveDto",
            "in": "body",
            "description": "IDs of the responses to move.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResponsesMoveDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponsesMoveDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{questionId}/Responses/Indent": {
      "put": {
        "tags": [
          "Responses"
        ],
        "summary": "Indents a set of responses in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/{questionId}/Responses/Indent",
        "operationId": "Responses_PutIndent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the responses belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the responses belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseIds",
            "in": "body",
            "description": "IDs of the responses to indent.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Questions/{questionId}/Responses/Unindent": {
      "put": {
        "tags": [
          "Responses"
        ],
        "summary": "Unindents a set of responses in the survey.\r\n            \r\nPUT: api/Surveys/{surveyId}/Questions/{questionId}/Responses/Unindent",
        "operationId": "Responses_PutUnindent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the responses belongs to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "ID of the question the responses belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "responseIds",
            "in": "body",
            "description": "IDs of the responses to indent.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResponseDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Routings": {
      "get": {
        "tags": [
          "Routings"
        ],
        "summary": "Gets the routings in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Routings",
        "operationId": "Routings_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the routings belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoutingDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Routings"
        ],
        "summary": "Updates routings in a given survey.\r\n            \r\nPUT: api/Surveys/5/Routings",
        "operationId": "Routings_PutBatch",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the routings belong.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "routingDtos",
            "in": "body",
            "description": "DTOs of the routings to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoutingDto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoutingDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Routings"
        ],
        "summary": "Creates new routings in a given survey.\r\n            \r\nPOST: api/Surveys/{surveyId}/Routings",
        "operationId": "Routings_PostBatch",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey in which the routings are being created.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "routingDtos",
            "in": "body",
            "description": "DTOs of the new routings to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoutingDto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoutingDto"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Routings"
        ],
        "summary": "Delete a set of routings from a given survey by specifying by their unique identfiers.\r\n            \r\nDELETE: api/Surveys/5/Routings",
        "operationId": "Routings_DeleteBatch",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the routing belongs.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "routingIds",
            "in": "body",
            "description": "The unique identifiers of the routings to delete.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Routings/{routingId}": {
      "get": {
        "tags": [
          "Routings"
        ],
        "summary": "Gets a routing in the survey.\r\n            \r\nGET: api/Surveys/{surveyId}/Routings/{routingId}",
        "operationId": "Routings_Get",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the routings belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "routingId",
            "in": "path",
            "description": "ID of the routing to return.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoutingDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Routings"
        ],
        "summary": "Updates a routing from a given survey by specifying by its unique \r\nidentfier and with the specified input values.\r\n            \r\nPUT: api/Surveys/5/Routings/2",
        "operationId": "Routings_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the routing belongs.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "routingId",
            "in": "path",
            "description": "The unique identifier of the routing to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "routingInput",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoutingDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoutingDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Routings"
        ],
        "summary": "Delete a routing from a given survey by specifying by its unique \r\nidentfier.\r\n            \r\nDELETE: api/Surveys/5/Routings/2",
        "operationId": "Routings_Delete",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The unique identifier of the survey to which the routing belongs.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "routingId",
            "in": "path",
            "description": "The unique identifier of the routing to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Routings/{routingId}/Compile": {
      "get": {
        "tags": [
          "Routings"
        ],
        "summary": "Gets the result of compiling a routing.\r\n            \r\nGET: api/Surveys/{surveyId}/Routings/{routingId}/Compile",
        "operationId": "Routings_GetRoutingCompilationResult",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey the routing belong to.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "routingId",
            "in": "path",
            "description": "ID of the routing to compile.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MethodResultDto"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/AskiaPortalHttpError"
            }
          }
        }
      }
    },
    "/api/Surveys/{surveyId}/Routings/Compile": {
      "get": {
        "tags": [
          "Routings"
        ],
        "summary": "Gets the result of compiling a script without needing a routing.\r\n            \r\nGET: api/Surveys/{surveyId}/Routings/Compile",
        "operationId": "Routings_GetConditionScriptCompilationResult",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "ID of the survey.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              -1
            ]
          },
          {
            "name": "script",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
[...]
